
server {
    listen       80;
    server_name  localhost;

    auth_basic "Administrator Area";
    auth_basic_user_file /opt/radical-illumination/.htpasswd;

    location / {
        root   /opt/radical-illumination/;
        index  index.html index.htm;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}